

body {
    background-image: url("https://img.freepik.com/vector-premium/estacion-autobuses-escenas-exteriores_1300-1169.jpg?w=1380");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
